@import 'tailwindcss';
@plugin "daisyui";


.form-label {
  @apply font-semibold block mb-1 text-gray-700;
}

.form-input {
  @apply w-full p-3 border border-gray-300 rounded-xl shadow-sm focus:ring-2 focus:ring-orange-500 outline-none transition bg-white;
}

.icon-box {
  @apply w-11 h-11 flex items-center justify-center rounded-xl bg-gray-100 border border-gray-300 text-gray-600;
}