@import 'tailwindcss';
@plugin "daisyui";


.form-label {
  @apply font-semibold block mb-1 text-base-content;
}

.form-input {
  @apply w-full p-3 border border-base-300 rounded-xl shadow-sm focus:ring-2 focus:ring-primary outline-none transition bg-base-100;
}

.icon-box {
  @apply w-11 h-11 flex items-center justify-center rounded-xl bg-base-200 border border-base-300 text-base-content;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.active {
  color: #22C55E;
}